/* home.css */

/* Base styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.button-container {
  background-color: var(--primary-color);
  color: white;
  border: 3px solid var(--primary-color);
  padding: 3px;
  border-radius: 5px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  width: 221px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.5s ease;
  text-decoration: none;
  font-size: 0.98em;
  margin-bottom: 50px;
}

.logo img {
  display: flex;
  justify-content: flex-start;
  width: 40px;
  height: 40px;
}
.title {
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  justify-self: unset;
  padding: 10px;
}
.buttons {
  display: flex;
  justify-content: flex-end;
}
